<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>珠峰博客</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css"/>
</head>
<body>
<!--最外层的窗口是nav标签，并添加nav-bar样式 表示里面是导航条-->
<nav class="navbar navbar-default" role="navigation">
    <div class="navbr-header">
        <a href="/" class="navbar-brand">珠峰博客</a>
    </div>
    <!--放置导航-->
    <div class="collapse navbar-collapse" id="menus">
        <ul class="nav navbar-nav">
            <%
            if(!user){
            %>
            <li><a href="/users/reg">注册</a></li>
            <li><a href="/users/login">登陆</a></li>
            <%
            }
            %>

            <%
            if(user){
             %>
            <li><a href="/articles/add">发表文章</a></li>
            <li><a href="/users/logout">退出</a></li>
            <%
            }
            %>

        </ul>
    </div>
    <div><%=user?user.username:''%></div>
</nav>